<h2>Featured Product:</h2>
<%= image_tag(@featured_product.image_url, class: 'img-responsive product-image')  %> </br>
<div class="product-desc">
<%= @featured_product.name  %> </br>
<%= @featured_product.description  %> </br>
<%= @featured_product.price  %> </br>
<%= @featured_product.colour %> </br>
</div>