
 
  <% cache product do %>
    <div class="col-sm-2 col-md-4 product-border">
      <div class="producttitle"><%= link_to product.name, product, data: {mh: 'product-name'} %>
      </div>
      <div class="product-desc border"><p data-mh="product-description"><%= product.description %></p></div>
      <%= image_tag product.image_url, class: 'img-responsive product-image border' unless product.image_url.blank? %>
      <div class="border"><p class="product-price" data-mh="product-price">$<%= product.price %></p>
      </div>
      <div class="center">
  	    <%= link_to 'Show', product, :class => 'btn btn-primary button'%>
  	    <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-primary button' %>
  	    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , :class => 'btn btn-primary button'%>
	    </div>
    </div><!-- /col -->
  <% end %> 
  